/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";

 body {
 	font-family: monospace;
 	background-color: #fff;
 	margin: 0px;
 	padding: 0px;
 	overflow: hidden;

 	h2,h3 {
 		font-size: 1.2em;
 		font-weight: bold;
 		padding: 2px 0 6px 0;
 	}
 	h3 {font-size: 1em;}
 	p {
 		padding: 5px 0;
 		&.small {
 			padding-top: 15px;
 			font-size: 10px;
 		}
 	}
 	a {
 		color: inherit;
 		text-decoration: none;
 		border-bottom: dashed 1px;
 	}
 }

 #container {
 	position: absolute;
 	height: 100%;
 	width: 100%;
 	z-index: 1;
 }

 #instructions {
 	// height: 100px;
 	width: 300px;
 	padding: 15px;
 	position: relative;
 	top: 20px;
 	left: 20px;
 	z-index: 100;

 	background: rgba(0,0,0,0.6);
 	color: #eee;

   .twitter {
     position: absolute;
     right: 0px;
     top: 30px;
   }

 	input {
 		margin: 0 auto;
 		height: 20px;
 		width: 275px;
 		text-align: center;
 		display: block;
 		margin-top: 20px;
 		color: #eee;
 		font-size: 16px;
 		font-weight: bold;
 		background: rgba(0,0,0,0.5);
 		border: rgba(255,255,255,0.65) 1px solid;
 	}

   .map_canvas {
     margin: 10px auto;
     display: block;
     height: 200px;
     width: 275px;
   }

 }

 canvas {
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 }
