doctype html

html(lang='en')
	head
		link(href='styles/screen.css', rel='stylesheet', type='text/css')
		title Foucault Pendulum Simulation
		script(src='js/jquery-2.1.0.min.js')

	body
		#container

		script(src='js/three.js/three.min.js')
		script(src='js/three.js/CoinGeometry.js')

		script(src='js/main.js')
